body {
    font-family: "Montserrat", monospace;
    background: rgb(41,38,70);
    background: linear-gradient(180deg, rgba(41,38,70,1) 0%, rgba(11,9,46,1) 86%);
    text-align: center;
    height: 100vh;
}


/* ESTILOS APLICADOS PARA MAIS DE 1 ELEMENTO */

.page-title, .page-subtitle, .title-button, .link-convertTemperatura, label, input, button, h2, footer a {
    color: #ffffff;
}

.link-convertTemperatura, footer a {
    font-weight: 500;
}

.title-button, .page-title, label {
    font-weight: 600;
}


/* ESTTILIZAÇÃO DOS ELEMENTOS */

.container {
    height: 95%;
    margin: 0 auto;
}

.interface {
    background-color: #403E6A;
    box-shadow: 0px 0px 15px 0px rgba(3, 4, 20, 0.30);
    border: none;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    display: inline-block;
    position: relative;
        top: 21vh;
}

/* TÍTULO */
.page-title {
    margin: 0 0 20px;
    border-bottom: 1px solid;
}

/* SUBTÍTULO */
.page-subtitle {
    margin-top: 5px;
    margin-bottom: 25px;
    font-weight: 300;
    max-width: 61vh;
    line-height: 22px;
}

/* TÍTULO DOS BOTÕES */ 
.title-button {
    margin: 11px 0 0;
}

/* LOGO IMERSÃO DEV */
.page-logo {
    width: 185px;
    position: absolute;
        top: 10px;
        left: 10px;
}

/* LOGO ALURA */
.alura-logo {
    width: 50px;
    position: absolute;
        top: 10px;
        right: 10px;
}

/* LINK PARA O OUTRO CONVERSOR */
.link-convertTemperatura {
    transition: .5s;
    display: inline-block;
}

/* Animação link */
.link-convertTemperatura:hover {
    font-size: 1.1em;
}

input {
    background-color: #605d97;
    margin: 12px;
    padding: 9px;
    border: none;
    border-radius: 16px;
}

input::placeholder {
    color: #a8a5d3;
}

button {
    margin-top: 12px;
    padding: 8px 16px;
    border-radius: 15px;
    border: none;
    background-color: #121026;
    transition: .3s;
}

/* Animação botões */
button:hover {
    background-color: #1e9e58;
}

h2 {
    font-size: 30px;
    color: rgb(114, 147, 255);
    margin: 35px 0 5px;
    max-width: 63vh;
    line-height: 35px;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
}

footer {
    text-align: left;
    font-size: .7em;
    margin-left: 9px;
}