/* RESET */
html, body, div, h1, h2, p, a, img, label, footer, input, button, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", monospace;
}

footer {
    display: block;
}

body {
    line-height: 1;
}