body, input, div, button, h1, p, img, a, label {
    margin: 0;
    padding: 0;
    line-height: 1;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: #fff;
}

body {
    min-height: 400px;
    background: rgb(218,72,0);
    background: linear-gradient(
        132deg, 
        rgba(218,72,0,1), 
        rgba(250,199,6,1));
    background-attachment: fixed;
}


.container {
    text-align: center;
    height: 92vh;
}

.interface {
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    position: relative;
    top: 23vh;
    display: inline-block;
    background-color: #ffffff63;
}

.interface h1, .interface p, label, #resultado {
    text-shadow: 0 0 3px #dc5c00;
}

.page-title {
    margin: 0 0 5px;
}

.page-subtitle {
    margin: 7px 0 23px 0;
}

label, button {
    font-weight: bold;
}

.forms input {
    margin-top: 12px;
    background-color: #ffe7ba9c;
    border: none;
    border-radius: 7px;
    padding: 9px;
    color: #ff6b00;
}

.forms input::placeholder {
    color: #ed6a0d8a;
}

button {
    margin-top: 21px;
    border: none;
    padding: 7px 9px;
    border-radius: 7px;
    background-color: #db4b009e;
}

.interface, .forms input {
    border: 1px solid #ff6b00;
}

.page-logo {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}